<html>
<head>
<title>Mailroom</title>
</head>
<body>
	<nav>
        <a id='home' href='{{url_for('home') }}'>Homepage</a>
        <a id='create' href='{{url_for('create') }}'>Create a New Donation</a>
    </nav>
	<h1>Donations List</h1>
	<h2>{% block subtitle %} {% endblock subtitle %}</h2>
	{% block content %} {% endblock content %}
</body>
</html>
